<!-- HTML Page for the worker profile -->

<div class="profile-container">
  <div class="profile-menu">
    <div class="image-container">
      <img src="https://pixeltime.ro/profile.jpg" alt="">
    </div>
    <ul>
      <li class="active">Profile</li>
      <li>Private Informations</li>
      <li>Edit Profile</li>
      <li>Logout</li>
    </ul>
  </div>
  <div class="profile-content">
    <div class="actions">
      <mat-icon class="icon">add_a_photo</mat-icon>
      <mat-icon class="icon">create</mat-icon>
    </div>
    <div class="pic">
      <img src="https://pixeltime.ro/profile.jpg" alt="">
      <h2>{{details?.firstname}} {{details?.lastname}}</h2>
      <span>{{details?.email}}</span>
    </div>
    <div class="summary">
      <div class="content">
        <span>0</span>
        <span>Services</span>
      </div>
      <div class="content">
        <span>{{reviewPosted}}</span>
        <span>Review posted</span>
      </div>
    </div>
    <div class="profile-details">
      <h2>Currents orders</h2>
      <button mat-button *ngFor="let order of Orders" (click)="openDialog(order)">{{order.idOrder}} --Adress-- {{order.orderDate}} --{{order.name}}</button>
    </div>
  </div>
</div>
