<!-- We use the reactive form method for the login -->

<mat-card>
  <h2>Connexion</h2>
  <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <!-- we disable the button if the form is not valid -->
    <button mat-raised-button color="accent" type="submit" [disabled]="userForm.invalid">Se connecter</button>
  </form>
</mat-card>
