<mat-card>
  <h2>Login</h2>
  <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="userForm.invalid">Login</button>
  </form>
</mat-card>
