<!-- HTML For the service list, we display all of the infos for each services using the directive ngFor -->
<div class="search">
  <mat-form-field appearance="outline" color="accent" >
    <mat-label>Find a service</mat-label>
    <input matInput placeholder="..." type="text" #myInput [(ngModel)]="name" (input)="Search()" >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="content">
  <div class="container"*ngFor="let service of this.MyServices">
    <div class="service" >
      <mat-card>
        <div class="top">
          <h2>{{service.name}}</h2>
          <h4>{{service.idType}}</h4>
        </div>
        <div class="img-container">
          <img id="img1" [src]="service.image">
          <div class="middle" *ngIf="isAdmin()">
            <div class="buttons">
              <button mat-raised-button color="primary" [routerLink]="['/services-modify',service.name]">Modifier</button>
              <button mat-raised-button color="warn" (click)="onDelete(service.name, service.image)">Supprimer</button>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="bottom-container">
            <p>{{service.price}} €</p>
            <p>{{service.desc}}</p>
          </div>
          <div class="bottom-button">
            <button id="buttonS" mat-raised-button color="accent" type="submit" (click)="OrderOne(service.name)">Order</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</div>
