<!-- HTML Page for the user profile -->

<div class="profile-container">
  <div class="profile-menu">
    <div class="image-container">
      <img [src]="details?.image" alt="">
    </div>
    <ul>
      <li class="active">Profile</li>
      <li>Private Informations</li>
      <li>Edit Profile</li>
      <li>Logout</li>
    </ul>
  </div>
  <div class="profile-content">
    <div class="actions">
      <button mat-icon-button (click)="openDialog()">
        <mat-icon class="icon">add_a_photo</mat-icon>
      </button>
      <button mat-icon-button (click)="openDialog()">
        <mat-icon class="icon">create</mat-icon>
      </button>
    </div>
    <div class="pic">
      <img [src]="details?.image" alt="">
      <h2>{{details?.firstname}} {{details?.lastname}}</h2>
      <span>{{details?.email}}</span>
    </div>
    <div class="summary">
      <div class="content">
        <span>0</span>
        <span>Services</span>
      </div>
      <div class="content">
        <span>0</span>
        <span>Review posted</span>
      </div>
    </div>
    <div class="profile-details">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" >
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns" >
          <th mat-header-cell *matHeaderCellDef ><h2 id="The">Derniers avis reçus</h2></th>
          <td mat-cell *matCellDef="let element" > {{element[column]}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
